{% extends "WLAppBundle::layout.html.twig" %}

{% block title %}
    Mapa kategorii - {{ parent() }}
{% endblock %}


{% block head %}
    {{ parent() }}

    <link rel="canonical" href="{{ url('map_categories') }}"/>
{% endblock %}

{% block pageH1Block %}
    <h1>Mapa kategorii</h1>
{% endblock %}

{% block content %}
    <h1>Mapa kategorii</h1>

    {% for menuLink in menu_main %}
        <div>
            <h3>{{ menuLink.name }}</h3>
            <ul>
                {% for subLink in menuLink.subLinks %}
                    <li><a href="{{ url('category', {'categoryUrlWithFilters': subLink.url|trim('/')}) }}"
                           title="{{ subLink.name }}">{{ subLink.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}
