{% extends "WLAppBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="canonical" href="http://{{ app.request.host }}" />
{% endblock %}


{% block topContent %}
    {% if productsGroupCategory|length > 1 %}
        <div class="row">
            <div class="col-xs-12 text-right">
                <a id="categories-groups-prev" class="btn btn-sm btn-primary btn-primary-outlined"><i class="fa fa-angle-left"></i></a>
                <a id="categories-groups-next" class="btn btn-sm btn-primary btn-primary-outlined"><i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% macro productGridView(product) %}
    <div class="image">
        <a {{ product|productUrlAttr }}><img class="img-responsive" src="{{ nokaut_img_domain ~ nokaut_photo_url.prepare(product.photoId, '500x500', product.title) }}"/></a>
        <a {{ product|productUrlAttr }}>
            <span class="content">
                <h5>{{ product.title|raw }}</h5>
                <span class="price">{{ product.prices.min|number_format(2,',',' ') }} PLN</span>
                <button class="btn btn-success btn-success-outlined btn-icon-right">Zobacz <i class="fa fa-angle-right"></i></button>
            </span>
        </a>
    </div>
{% endmacro %}

{% block content %}


    <div class="row">
        <div id="categories-groups" class="owl-carousel">
            {% for products in productsGroupCategory %}
                <div>
                <div class="col-xs-12">

                <!-- products in the group starts here -->
                <div class="row lower">
                <div class="col-xs-6">
                    <div class="row">
                        <div class="product-grid col-md-8 col-sm-12 normal inner">
                            {{ _self.productGridView(products.item(0)) }}
                        </div>
                        <div class="product-grid col-md-4 hidden-sm hidden-xs normal inner">
                            {{ _self.productGridView(products.item(1)) }}
                        </div>
                        <div class="product-grid col-md-4 hidden-sm hidden-xs normal inner">
                            {{ _self.productGridView(products.item(2)) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="product-grid col-md-4 hidden-sm hidden-xs normal inner">
                            {{ _self.productGridView(products.item(3)) }}
                        </div>
                        <div class="product-grid col-md-4 hidden-sm hidden-xs normal inner">
                            {{ _self.productGridView(products.item(4)) }}
                        </div>
                        <div class="product-grid col-md-4 hidden-sm hidden-xs normal inner">
                            {{ _self.productGridView(products.item(5)) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="product-grid col-md-4 hidden-sm hidden-xs normal inner">
                            {{ _self.productGridView(products.item(6)) }}
                        </div>
                        <div class="product-grid col-md-4 hidden-sm hidden-xs normal inner">
                            {{ _self.productGridView(products.item(7)) }}
                        </div>
                        <div class="product-grid col-md-4 hidden-sm hidden-xs normal inner">
                            {{ _self.productGridView(products.item(8)) }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="product-grid col-md-4 hidden-sm hidden-xs normal inner">
                            {{ _self.productGridView(products.item(9)) }}
                        </div>
                        <div class="product-grid col-md-4 hidden-sm hidden-xs normal inner">
                            {{ _self.productGridView(products.item(10)) }}
                        </div>
                        <div class="product-grid col-md-4 hidden-sm hidden-xs normal inner">
                            {{ _self.productGridView(products.item(11)) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="product-grid col-md-8 col-sm-12 normal inner">
                            {{ _self.productGridView(products.item(12)) }}
                        </div>
                        <div class="product-grid col-md-4 hidden-sm hidden-xs normal inner">
                            {{ _self.productGridView(products.item(13)) }}
                        </div>
                        <div class="product-grid col-md-4 hidden-sm hidden-xs normal inner">
                            {{ _self.productGridView(products.item(14)) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="product-grid col-md-4 hidden-sm hidden-xs normal inner">
                            {{ _self.productGridView(products.item(15)) }}
                        </div>
                        <div class="product-grid col-md-4 hidden-sm hidden-xs normal inner">
                            {{ _self.productGridView(products.item(16)) }}
                        </div>
                        <div class="product-grid col-md-4 hidden-sm hidden-xs normal inner">
                            {{ _self.productGridView(products.item(17)) }}
                        </div>
                    </div>
                </div>
                </div>
                <!-- products in the group ends here -->

                </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
