{% set offer = offers.item(0) %}
{% set singleOffert = true %}

<div class="row product product-details">
    <div class="col-md-4 col-sm-12 gallery">
        {% if product.photoIds|length > 0 %}
            {% set photoId = product.photoIds[0] %}
        {% else %}
            {% set photoId = offer.photoId %}
        {% endif %}
        <a rel="nofollow" target="_blank" href="{{ offer|click }}">
            <img class="img-responsive" src="{{ nokaut_img_domain ~ nokaut_photo_url.prepare(photoId, '400x400', product.title) }}" alt="{{ product.title }}">
        </a>
    </div>


    <div class="col-md-8 col-sm-12">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <a rel="nofollow" target="_blank" href="{{ offer|click }}">
                    <h1 class="price">{{ product.title|raw }}y</h1>
                </a>
            </div>
            <div class="col-md-4 col-sm-12 text-right">
                <a rel="nofollow" target="_blank" href="{{ offer|click }}">
                    <p class="lead price big">{{ offers.metadata.priceMin|number_format(2, ',', '') }} PLN</p>
                </a>
                <p><a rel="nofollow" target="_blank" href="{{ offer|click }}" class="btn btn-lg btn-primary btn-primary-outlined btn-icon-right">Zobacz w sklepie <i class="fa fa-angle-right"></i></a></p>
                <p class="pull-right">
                    <a rel="nofollow" target="_blank" href="{{ offer|click }}">
                        <img class="pull-right" src="{{ nokaut_img_domain ~ offer.shop.urlLogo }}" />
                        <br>
                        {% if offer.shop.opineoRating and offer.shop.opineoRating.ratingCount > 0 %}
                            <small class="stars">
                                Ocena&nbsp;sklepu:
                                {% for i in 1..5 %}
                                    {% if offer.shop.opineoRating and (offer.shop.opineoRating.rating/2) >= i %}
                                        <i class="fa fa-star"></i>
                                    {% elseif offer.shop.opineoRating and (offer.shop.opineoRating.rating/2)|round >= i %}
                                        <i class="fa fa-star-half-o"></i>
                                    {% else %}
                                        <i class="fa fa-star-o"></i>
                                    {% endif %}
                                {% endfor %}
                            </small>
                        {% endif %}
                    </a>
                </p>
            </div>
        </div>
        <div class="lower row">
            <div class="col-md-12 col-sm-12">
                {% include '@WLApp/Product/properties.html.twig' %}
            </div>
        </div>

        <div class="lower row">
            <div class="col-md-12 col-sm-12 description">
                {{ product.descriptionHtml|raw }}
            </div>
        </div>

    </div>
</div>
