{% extends 'layout.html.twig' %}

{% block title %}
    brak wyników - {{ parent() }}
{% endblock %}


{% block head %}
    {{ parent() }}

    <link rel="canonical" href="{{ url(route, { (routeArgument): canonical}) }}"/>
{% endblock %}


{% block content %}
    <div class="row category">
        <div class="col-md-12 col-sm-12">

            <div class="row category-details">
                <div class="col-xs-11">
                    <h1>
                        <span class="name"><small>0 produktów</small></span>
                        {% if phrase is defined and phrase is not null and route == 'search'  %}
                            <span>
                                <span class="badge-name">szukasz:</span>
                                <span class="badge">
                                    <button type="button" onclick="document.location.href='/'" class="close">×</button>
                                    <span>{{ phrase|raw }}</span>
                                </span>
                            </span>
                        {% endif %}
                        {% for filter in selectedFilters if filter is not empty %}
                            <span>
                                <span class="badge-name">{{ filter.name }}:</span>
                                {% for value in filter %}
                                <span class="badge">
                                    <button type="button" onclick="document.location.href='{{ url(route, { (routeArgument): value.url }) }}'" class="close">×</button>
                                    <span>{{ value.name }}</span>
                                </span>
                                {% endfor %}
                            </span>
                        {% endfor %}
                    </h1>
                </div>
                <div class="col-xs-1 text-right">

                </div>
            </div>

            <div class="row category-products">

                <div class="col-xs-12">

                    <div class="alert alert-dismissable alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4>BRAK WYNIKÓW</h4>
                        <p>Wśród milionów produktów nie znaleźliśmy żadnego, który odpowiadałby Twojemu zapytaniu.</p>
                        <p>Co teraz?</p>
                        <ul>
                            <li>Wpisz inne słowa kluczowe w wyszukiwarce powyżej - może następnym razem się uda</li>
                            <li>Zacznij poszukiwania od <a href="/">strony głównej</a></li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>
    </div>
{% endblock %}


