<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">White Label Nokaut.pl</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% for menuLink in menu_main %}
                    <li class="dropdown {% if menuLink.subLinks|length>0 %}megamenu{% endif %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">{{ menuLink.name }}{% if menuLink.subLinks|length>0 %} <span class="caret"></span>{% endif %}</a>
                        {% if menuLink.subLinks|length>0 %}
                            <div class="dropdown-menu megamenu container" role="menu">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h3>Kategorie</h3>
                                        <ul>
                                            {% for subLink in menuLink.subLinks %}
                                                <li><a href="{{  url('category', { 'categoryUrlWithFilters': subLink.url|trim('/')}) }}" title="{{ subLink.name|raw }}">{{ subLink.name|raw }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% if menuLink.topProducts|length>0 %}
                                        <div class="col-md-8 hidden-sm hidden-xs">
                                            <h3>Top produkty w {{ menuLink.name }}</h3>

                                            <div class="row">
                                                {% for productsChunk in menuLink.topProducts|chunk(3) %}
                                                    <div class="col-md-6 hidden-sm hidden-xs">
                                                        <ul class="list-unstyled">
                                                            {% for productMenu in productsChunk %}
                                                                {% set productMenuUrl = url('product', {'productUrl': productMenu.url|trim('/') }) %}
                                                                <li class="product">
                                                                    <div class="row">
                                                                        <div class="col-md-3">
                                                                            <a href="{{ productMenuUrl }}">
                                                                                <img width="60" src="{{ nokaut_img_domain ~ nokaut_photo_url.prepare(productMenu.photoId, '90x90', productMenu.title) }}" alt="{{ productMenu.title }}">
                                                                            </a>
                                                                        </div>

                                                                        <div class="col-md-9">
                                                                            <h4><a href="{{ productMenuUrl }}">{{ productMenu.title|raw|truncate(40) }}</a></h4>
                                                                            {% if productMenu.category %}
                                                                                <span class="item-cat"><small><a title="{{ productMenu.category.name }}" href="{{  url('category', { 'categoryUrlWithFilters': productMenu.category.urlIn|trim('/')}) }}">{{ productMenu.category.name }}</a></small></span>
                                                                            {% endif %}
                                                                            <span class="price">od {{ productMenu.prices.min|number_format(2, ',', '') }} zł</span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <form id="searchFrom" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" id="phraseInput" class="form-control" placeholder="Szukaj">
                </div>
                <input type="submit" class="btn btn-default" value="Szukaj">
            </form>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</div><!-- /.navbar -->

<div class="container">

    <ol class="breadcrumb">
        <li><a href="/">White Label Nokaut.pl</a></li>
        {% for crumb in breadcrumbs %}
            {% if loop.last or crumb.url is null %}
                <li class="active">{{ crumb.title }}</li>
            {% else %}

                <li><a href="{{ crumb.url }}">{{ crumb.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>

    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            {% block content %}{% endblock %}
        </div><!--/span-->


        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            {% block rightColumn %}
            {% endblock %}

            {% include 'WLAppBundle:Common:rightColumn.html.twig' %}
        </div><!--/span-->

    </div><!--/row-->

    <hr>

    <footer class="row">
        <div class="col-xs-6 col-sm-6">
            <a href="{{  url('map_categories') }}">Mapa kategorii</a>
        </div>
        <div class="col-xs-6 col-sm-6 text-right">
            &copy; Nokaut.pl sp. z o.o. 2014
        </div>
    </footer>

</div><!--/.container-->