{% extends "::base.html.twig" %}

{% set route = app.request.get('_route') %}
{% set routeArgument = route == 'search' ? 'phrase' : 'categoryUrlWithFilters' %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('bundles/wlapp/css/bootstrap.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('bundles/wlapp/css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/wlapp/css/jquery.bxslider.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/wlapp/css/theme-bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/wlapp/css/ecommerce-theme-bootstrap.css') }}">
    <link href="{{ asset('bundles/wlapp/css/jquery.growl.css') }}" rel="stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block javascriptsTop %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        function search() {
            var url = '{{ url('search', {'phrase': 'produkt:_PHRASE_VALUE_.html'}) }}';
            var phrase = $('#phraseInput').val().trim().toLowerCase();
            if(!phrase) {
                alert('Pole do wyszukiwania nie może być puste');
                return false;
            }
            phrase = phrase.replace(/\s+/g,  '-');
            location.href = url.replace('_PHRASE_VALUE_',  encodeURIComponent(phrase));
            return false;
        }
        $(function(){
            $('#searchFrom').on('submit', function () {
                return search()
            });
            $('#buttonSearch').on('click', function () {
                return search()
            });
        });
    </script>

{% endblock %}

{% block body %}
    <div class="navbar navbar-default navbar-fixed-top yamm">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Porownywarka</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
    {% for menuLink in menu_main %}
        {% if menuLink.subLinks|length>1 %}
            <li class="dropdown yamm-fw {% if breadcrumbs and menuLink.name == breadcrumbs[0].title %} active{% endif %}">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ menuLink.name }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="row">

                            <div class="col-sm-3">

                                <ul class="dropdown-menu dropdown-menu-inner">
                                    <li class="dropdown-header">Kategorie</li>
                                    {% for subLink in menuLink.subLinks %}
                                        <li{% if category is defined and category.title == subLink.name %} class="active"{% endif %}><a href="{{  url('category', { 'categoryUrlWithFilters': subLink.url|trim('/')}) }}" title="{{ subLink.name|raw }}">{{ subLink.name }}</a></li>
                                    {% endfor %}
                                </ul>

                            </div>
                            {% if menuLink.topProducts|length>0 %}
                            <div class="col-sm-9">

                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <span class="dropdown-header dropdown-header-no-list">Popularne produkty</span>
                                    </div>
                                </div>

                                <div class="row">
                                    {% for product in menuLink.topProducts %}
                                    <div class="col-md-2 col-xs-4">
                                        <a href="{{ url('product', {'productUrl': product.url|trim('/') }) }}">
                                            <div class="product tiny">
                                                <div class="image">
                                                    <img class='img-responsive' src="{{ nokaut_img_domain ~ nokaut_photo_url.prepare(product.photoId, '90x90', product.title) }}" />
                                                </div>
                                                <span class="price">{{ product.prices.min|number_format(2, ',', '') }} PLN</span>
                                                <h5 class="title">{{ product.title|raw }}</h5>
                                            </div>
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>

                            </div>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </li>
        {% else %}
            <li {% if breadcrumbs and menuLink.name == breadcrumbs[0].title %}class="active"{% endif %}>
                <a href="{{  url('category', { 'categoryUrlWithFilters': menuLink.subLinks[0].url|trim('/')}) }}">{{ menuLink.name }}</b></a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
    <form id="searchFrom" class="navbar-form navbar-right">
        <div class="input-group input-group-with-btn">
            <input id="phraseInput" type="text" class="form-control input-lg" value="{% if phrase is defined %}{{ phrase }}{% endif %}" placeholder="Szukam...">
                <span class="input-group-btn">
                  <button id="buttonSearch" class="btn btn-link" type="button"><i class="fa fa-search"></i></button>
                </span>
        </div>
    </form>
    </div>
    </div>
    </div>



    <div class="container top">

        {% block topContent %}
            {% if breadcrumbs is defined %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Porównywarka</a></li>
                        {% for crumb in breadcrumbs %}
                            {% if loop.last or crumb.url is null %}
                                <li class="active">{{ crumb.title|raw }}</li>
                            {% else %}

                                <li><a href="{{ crumb.url }}">{{ crumb.title|raw }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        {% endblock %}

        {% block content %}

        {% endblock %}
    </div>



    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h5>O nas</h5>
                    <p>Porównywarka.co to serwis pozwalający na porównanie cen w najlepszych sklepach internetowych w Polsce. Został stworzony, by ułatwić użytkownikom Internetu znalezienie najniższych cen i wygodne e-zakupy. Porównaj oferty kilku tysięcy sklepów internetowych.</p>
                </div>
                <div class="col-md-7">
                    <h5>Dla sklepów</h5>
                    <p>Chcesz, aby znalazła się tutaj również oferta Twojego sklepu? Operatorem danych dla serwisu Porównywarka jest Nokaut.pl, porównywarka cen i sieć reklamowa odwiedzana przez kilka milionów użytkowników każdego miesiąca. Skontaktuj się skorzystaj z <a target="_blank" href="http://www.nokaut.pl/kontakt/sprzedawca">formularza kontaktowego.</a>.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    Copyright © 2014. Wszystkie prawa zastrzeżone.
                    <a href="{{ url('map_categories') }}">Mapa kategorii</a>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('bundles/wlapp/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/wlapp/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('bundles/wlapp/js/jquery.bxslider.min.js') }}"></script>
    <script src="{{ asset('bundles/wlapp/js/jquery.growl.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/wlapp/js/common.js') }}"></script>

{% endblock %}