{% if subcategories is defined and (subcategories|length>1 or (subcategories|length==1 and subcategories[0].isFilter == false)) %}
<div>
    <h2>
        <span class="text">
            Podkategorie<span class="triangle">&nbsp;</span>
        </span>
        <i>&nbsp;</i>
    </h2>
    <ul id="categories" class="list-group">
        {% for category in subcategories if category.isFilter == false %}
        <li class="list-group-item">
            <span class="badge">{{ category.total }}</span>
            <a href="{{  url(route, { (routeArgument): category.urlIn|trim('/')}) }}" title="{{ category.name|raw }}" class="link">
                {{ category.name|raw }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if products is defined and products.producers is not empty %}
<div>
    <h2>
        <span class="text">
            Producenci<span class="triangle">&nbsp;</span>
        </span>
        <i>&nbsp;</i>
    </h2>
    <ul id="producers" class="list-group">
        {% for producer in products.producers %}
            {% if producer.isFilter == false %}
                <li class="list-group-item"><a href="{{  url(route, { (routeArgument): producer.url|trim('/')}) }}" title="" class="link">{{ producer.name|raw }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if products is defined and products.prices is not empty %}
<div>
    <h2>
        <span class="text">
            Ceny<span class="triangle">&nbsp;</span>
        </span>
        <i>&nbsp;</i>
    </h2>
    <ul id="prices" class="list-group">
        {% for price in products.prices %}
            {% if price.isFilter == false %}
                <li class="list-group-item"><a href="{{  url(route, { (routeArgument): price.url|trim('/')}) }}" title="" class="link">{{ price.min|number_format(2, ',',  '') }}&nbsp;-&nbsp;{{ price.max|number_format(2, ',',  '') }} zł</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if products is defined and products.properties is not empty %}

<div>
    <h2>
        <span class="text">
            Cechy<span class="triangle">&nbsp;</span>
        </span>
        <i>&nbsp;</i>
    </h2>
    <div>
        {% for propertyFilter in filterPropertiesFacets if not propertyFilter.getIsExcluded() %}
            <ul id="features{{ loop.index }}" class="list-group">
                <li class="list-group-item">
                    <p class="featuresGroup">{{ propertyFilter.name|raw }}<span>&nbsp;</span></p>
                    {% for value in propertyFilter %}
                        {% if value.isFilter %}
                            <a class="bg-primary" href="{{ url(route, { (routeArgument): value.url|trim('/')}) }}" title="usuń" {% if value.isNofollow %}rel="nofollow"{% endif %}>{{ value.name|striptags }}{% if propertyFilter.unit %} {{ propertyFilter.unit }}{% endif %} &times;</a>
                        {% else %}
                            {% if value.total %}
                                <a href="{{ url(route, { (routeArgument): value.url|trim('/')}) }}" {% if value.isNofollow %}rel="nofollow"{% endif %}>
                                    {{ value.name|striptags }}{% if propertyFilter.unit %} {{ propertyFilter.unit }}{% endif %}
                                    <small>({{ value.total }})</small>
                                </a>
                            {% else %}
                                <s>{{ value.name|striptags }}{% if propertyFilter.unit %} {{ propertyFilter.unit }}{% endif %}</s>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </li>
            </ul>
        {% endfor %}
    </div>
</div>



{% endif %}
