<div class="modal fade" tabindex="-1" role="dialog" id="productModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#modal-products-offers" aria-controls="home"
                                                                  role="tab" data-toggle="tab">Oferty</a></li>
                        <li role="presentation"><a href="#modal-product-information" aria-controls="profile" role="tab"
                                                   data-toggle="tab">Karta produktu</a></li>
                        <li role="presentation"><a href="#modal-product-similar" aria-controls="profile" role="tab"
                                                   data-toggle="tab">Produkty podobne</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <section role="tabpanel" class="tab-pane active product product-details"
                                 id="modal-products-offers">
                            <div class="row">
                                <div class="col-md-8 col-sm-12">
                                    <h1 class="price">{{ product.title|raw }}
                                        <small class="stars">Ocena produktu:
                                            {% for i in 1..5 %}
                                                {% if product.rating and product.rating.rating >= i %}
                                                    <i class="product-star fa fa-star"
                                                       data-star-current="{{ product.rating ? product.rating.rating|round : 0 }}"
                                                       data-star-nr="{{ i }}"></i>
                                                {% elseif product.rating and product.rating.rating|round >= i %}
                                                    <i class="product-star fa fa-star-half-o"
                                                       data-star-current="{{ product.rating ? product.rating.rating|round : 0 }}"
                                                       data-star-nr="{{ i }}"></i>
                                                {% else %}
                                                    <i class="product-star fa fa-star-o"
                                                       data-star-current="{{ product.rating ? product.rating.rating|round : 0 }}"
                                                       data-star-nr="{{ i }}"></i>
                                                {% endif %}
                                            {% endfor %}
                                        </small>
                                    </h1>
                                </div>
                                <div class="col-md-4 col-sm-12 text-right">
                                    <p class="lead price big">
                                        <small>od </small>{{ offers.metadata.priceMin|number_format(2, ',', '') }} PLN
                                    </p>
                                    {% set savePercent = helper_price.getSavePercent(product.prices) %}
                                    {% if savePercent > 0 %}
                                        <p class="price"><small>oszczędzasz do</small> {{ savePercent }}%</p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row text-right options">
                                <div class="col-md-12 col-sm-12">
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-bars"></i>
                                        </a>
                                        <ul id="sortOffersSelect" class="dropdown-menu dropdown-menu-right">
                                            <li class="dropdown-header">Sortowanie</li>
                                            <li class="active"><a href="#domyslne"><i class="fa fa-long-arrow-down"></i>
                                                    domyślne</a></li>
                                            <li><a href="#najtansze"><i class="fa fa-sort-numeric-asc"></i> od
                                                    najtańszych</a></li>
                                            <li><a href="#najdrozsze"><i class="fa fa-sort-numeric-desc"></i> od
                                                    najdroższych</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="offersContainer" class="row offers">
                                {% for offer in offers %}
                                    <!-- offer starts here -->
                                    <div class="col-sm-12 offer" data-lp="{{ loop.index }}"
                                         data-price="{{ offer.price|number_format(2, '.', '') }}">
                                        <a rel="nofollow" target="_blank" href="{{ offer|click }}">
                                            <div class="row">
                                                <div class="col-xs-4 col-sm-2">
                                                    <div class="image">
                                                        <img src="{{ nokaut_img_domain ~ nokaut_photo_url.prepare(offer.photoId, '90x90', offer.title) }}"
                                                             width="90" height="90"/>
                                                    </div>
                                                </div>
                                                <div class="col-xs-8 col-sm-6">
                                                    <h5>{{ offer.title|raw }}</h5>
                                                    <div class="pull-right">
                                                        {% if offer.shop.opineoRating and offer.shop.opineoRating.ratingCount > 0 %}
                                                            <small class="stars">
                                                                Ocena sklepu:
                                                                {% for i in 1..5 %}
                                                                    {% if offer.shop.opineoRating and (offer.shop.opineoRating.rating/2) >= i %}
                                                                        <i class="fa fa-star"></i>
                                                                    {% elseif offer.shop.opineoRating and (offer.shop.opineoRating.rating/2)|round >= i %}
                                                                        <i class="fa fa-star-half-o"></i>
                                                                    {% else %}
                                                                        <i class="fa fa-star-o"></i>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </small>
                                                        {% endif %}
                                                        <img src="{{ nokaut_img_domain ~ offer.shop.urlLogo }}"
                                                             style="max-width: 88px; max-height: 40px;"/>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-4 text-right">
                                                    <p class="lead price">{{ offer.price|number_format(2, ',', '') }}
                                                        PLN</p>
                                                    <span class="btn btn-success btn-success-outlined btn-icon-right">Zobacz w sklepie <i
                                                                class="fa fa-angle-right"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <!-- offer ends here -->
                                {% endfor %}
                            </div>
                        </section>

                        <section role="tabpanel" class="tab-pane product product-details"
                                 id="modal-product-information">
                            <h1 class="price">{{ product.title|raw }}</h1>
                            <div class="row">
                                <div class="col-md-8 col-sm-12 gallery">
                                    <ul class="bxslider gallery-view">
                                            {% for photoId in product.photoIds %}
                                                {% if product.photoId %}
                                                    {% if loop.index < 5 %}
                                                        <li><img class="img-responsive"
                                                                 src="{{ nokaut_img_domain ~ nokaut_photo_url.prepare(photoId, '500x500', product.title) }}"
                                                                 alt="{{ product.title }}"></li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                    </ul>
                                    <div id="gallery-items" class="row gallery-items">
                                        {% for photoId in product.photoIds %}
                                            {% if product.photoId %}
                                                {% if loop.index < 5 %}
                                                    <div class="col-lg-3 col-md-4 col-sm-2 col-xs-3 gallery-item"><a
                                                                data-slide-index="{{ loop.index0 }}" href=""><img
                                                                    class="img-responsive"
                                                                    src="{{ nokaut_img_domain ~ nokaut_photo_url.prepare(photoId, '90x90', product.title) }}"/></a>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    {% include 'Product/properties.html.twig' %}
                                </div>
                            </div>
                            {{ product.descriptionHtml|raw }}
                        </section>

                        <section role="tabpanel" class="tab-pane" id="modal-product-similar">
                            {% if productsSimilar|length > 0 %}
                                <div class="row lower-double products">
                                    <div class="col-xs-8">
                                        <h4>Produkty podobne</h4>
                                    </div>
                                    <div class="col-xs-4 text-right">
                                        <a id="products-similar-prev"
                                           class="btn btn-sm btn-primary btn-primary-outlined"><i
                                                    class="fa fa-angle-left"></i></a>
                                        <a id="products-similar-next"
                                           class="btn btn-sm btn-primary btn-primary-outlined"><i
                                                    class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="products-similar" class=" owl-carousel">
                                        {% for product in productsSimilar %}
                                            {% include 'Product/productBox.html.twig' with {'product': product} %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            <div class="row lower-double products">
                                <div class="col-xs-8">
                                    <h4>Produkty najpopularniejsze w kategorii <a
                                                href="{{ url('category', {'categoryUrlWithFilters': category.url}) }}">{{ category.title|raw }}</a>
                                    </h4>
                                </div>
                                <div class="col-xs-4 text-right">
                                    <a id="products-top-prev" class="btn btn-sm btn-primary btn-primary-outlined"><i
                                                class="fa fa-angle-left"></i></a>
                                    <a id="products-top-next" class="btn btn-sm btn-primary btn-primary-outlined"><i
                                                class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                            <div class="row">
                                <div id="products-top" class=" owl-carousel">
                                    {% for product in productsTop10 %}
                                        {% include 'Product/productBox.html.twig' with {'product': product} %}
                                    {% endfor %}
                                </div>
                            </div>
                        </section>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

    <script type="text/javascript">
        $('#productModal').on('shown.bs.dropdown', function () {
            $('#offersContainer').isotope({
                itemSelector: '.offer',
                layoutMode: 'vertical',
                getSortData: {
                    price: function ($elem) {
                        return parseFloat($($elem).attr('data-price'));
                    }
                }
            });

            $('#sortOffersSelect a').click(function () {
                // get href attribute, minus the '#'
                var sortName = $(this).attr('href').slice(1);
                switch (sortName) {
                    case 'domyslne':
                        $('#offersContainer').isotope({sortBy: 'original-order'});
                        break;
                    case 'najtansze':
                        $('#offersContainer').isotope({
                            sortBy: 'price',
                            sortAscending: true
                        });
                        break;
                    case 'najdrozsze':
                        $('#offersContainer').isotope({
                            sortBy: 'price',
                            sortAscending: false
                        });
                        break;
                }
                $('#sortOffersSelect li').removeClass('active');
                $(this).parent().addClass('active');
                $('#sortOffersSelect').dropdown('toggle');
                return false;
            });


        });

        var eventsProductInformationInitialized = false;
        $('a[href="#modal-product-information"]').on('shown.bs.tab', function (e) {
            if (!eventsProductInformationInitialized) {
                $('.gallery-view').bxSlider({
                    pagerCustom: '#gallery-items',
                    controls: false
                });
                eventsProductInformationInitialized = true;
            }
        });

        var eventsProductSimilarInitialized = false;
        $('a[href="#modal-product-similar"]').on('shown.bs.tab', function (e) {
            if (!eventsProductSimilarInitialized) {
                var similar = $("#products-similar");
                similar.owlCarousel({
                    items: 4,
                    itemsDesktop: [1000, 4],
                    itemsDesktopSmall: [900, 3],
                    itemsTablet: [600, 2],
                    itemsMobile: false,
                    pagination: false
                });
                $("#products-similar-next").click(function () {
                    similar.trigger('owl.next');
                });
                $("#products-similar-prev").click(function () {
                    similar.trigger('owl.prev');
                });

                var top = $("#products-top");
                top.owlCarousel({
                    items: 4,
                    itemsDesktop: [1000, 4],
                    itemsDesktopSmall: [900, 3],
                    itemsTablet: [600, 2],
                    itemsMobile: false,
                    pagination: false
                });
                $("#products-top-next").click(function () {
                    top.trigger('owl.next');
                });
                $("#products-top-prev").click(function () {
                    top.trigger('owl.prev');
                });

                productModalEvent('#productModal');

                eventsProductSimilarInitialized = true;
            }
        });

    </script>
</div><!-- /.modal -->