<ul class="nav navbar-nav">
{% for menuLink in menu_main.menuLinks %}
    {% if menuLink.subLinks|length>1 %}
        <li class="dropdown yamm-fw {% if breadcrumbs and menuLink.name == breadcrumbs[0].title %} active{% endif %}">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ menuLink.name }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <div class="row">

                        <div class="col-sm-3">

                            <ul class="dropdown-menu dropdown-menu-inner">
                                <li class="dropdown-header">Kategorie</li>
                                {% for subLink in menuLink.subLinks %}
                                    <li{% if category is defined and category.title == subLink.name %} class="active"{% endif %}><a href="{{  url('category', { 'categoryUrlWithFilters': subLink.url}) }}" title="{{ subLink.name|raw }}">{{ subLink.name }}</a></li>
                                {% endfor %}
                            </ul>

                        </div>
                        {% if menuLink.topProducts|length>0 %}
                            <div class="col-sm-9">

                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <span class="dropdown-header dropdown-header-no-list">Popularne produkty</span>
                                    </div>
                                </div>

                                <div class="row">
                                    {% for product in menuLink.topProducts %}
                                        <div class="col-md-2 col-xs-4">
                                            <a href="{{ url('product', {'productUrl': product.url }) }}">
                                                <div class="product tiny">
                                                    <div class="image">
                                                        <img class='img-responsive' src="{{ nokaut_img_domain ~ nokaut_photo_url.prepare(product.photoId, '90x90', product.title) }}" />
                                                    </div>
                                                    <span class="price">{% if product.clickUrl is empty %}od {% endif %}{{ product.prices.min|number_format(2, ',', '') }} PLN</span>
                                                    <h5 class="title">{{ product.title|raw }}</h5>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </li>
    {% else %}
        <li {% if breadcrumbs and menuLink.name == breadcrumbs[0].title %}class="active"{% endif %}>
            <a href="{{  url('category', { 'categoryUrlWithFilters': menuLink.subLinks[0].url}) }}">{{ menuLink.name }}</b></a>
        </li>
    {% endif %}
{% endfor %}
</ul>